<div class="panel">
  <h1>Réinitialisation du mot de passe</h1>

  <%= form_tag password_resets_path, method: :post do %>

    <div class="form-group">
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email] %>
    </div>

    <div class="form-group form-group-actions">
      <%= submit_tag 'Réinitialiser', class: 'btn btn-primary' %>
      <%= link_to 'Annuler', login_path, class: 'btn btn-link' %>
    </div>

  <% end %>
</div>
