<%= render 'thoughts/navigation' %>

<div class="diary">
  <% if current_user.published_today? %>
    <div class="publisher publisher-placeholder">
      Vous ne pouvez publier qu'une fois par jour. Revenez demain&nbsp;!
    </div>
  <% else %>
    <%= form_for :thought, url: thoughts_path, html: { class: 'publisher' } do |f| %>
      <div class="publisher-content">
        <%= f.text_area :content, placeholder: 'Qu’avez-vous pensé de votre journée ?' %>
      </div>

      <div class="row publisher-bottom-bar">
        <div class="checkbox-container">
          <%= f.check_box :is_public %>
          <%= f.label :is_public, 'Public ?' %>
        </div>

        <div class="row-extend"></div>

        <%= f.submit 'Publier', class: 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>

  <% if @thoughts.empty? %>
    <div class="thoughts-placeholder">
      Vous n'avez rien publié pour le moment.
    </div>
  <% end %>
  <%= render @thoughts %>
</div>
