<!DOCTYPE html>
<html>
  <head>
    <title>Taglibro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="notifications">
      <%- if notice %>
        <div class="notification-notice">
          <%= notice %>
        </div>
      <% end %>
      <%- if alert %>
        <div class="notification-alert">
          <%= alert %>
        </div>
      <% end %>
    </div>

    <div class="app-content">
      <%- if current_user %>
        <div>Bienvenue <%= current_user.email %> !</div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
